
<!-- Sidebar-->
<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">Nomes Repetidos</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/">Página Inicial </a>
        <!--
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/nomes-repetidos">Nomes Repetidos</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/nomes-duvidosos">Nomes Duvidosos</a>
        -->
    </div>
</div>